<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

<bean id="user" class="pojo.User" scope="prototype">
    </bean>

    <bean id="rol" class="pojo.Rol" scope="prototype">
    </bean>

    <bean id="dataBase" class="database.DataBase" scope="singleton">
    </bean>

    <bean id="userDao" class="dao.UserDaoImplement" scope="singleton">
        <property name="ddbb" ref="dataBase"/>
    </bean>

    <bean id="rolDao" class="dao.RolDaoImplement" scope="singleton">
        <property name="ddbb" ref="dataBase"/>
    </bean>



</beans>

