
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
         http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>Archetype Created Web Application</display-name>
  
  <welcome-file-list>
    <welcome-file>index</welcome-file>
  </welcome-file-list>

  <servlet>
    <servlet-name>UserControler</servlet-name>
    <servlet-class>Controler.UserControler</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>UserControler</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>RolControler</servlet-name>
    <servlet-class>Controler.RolControler</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>RolControler</servlet-name>
    <url-pattern>/Rol</url-pattern>
  </servlet-mapping>



</web-app>
